<!DOCTYPE html>
<html>
  <body>
          <div class="listing image">
        </div>
    <h2>Featured Properties:</h2>
    <div class="parent">
      <% @listings.each do |listing| %>
        <div class="listings">
          <div class="listing-name">
            <h1><%= listing.name %></h1>
            <img style='width:100px;' src="<%=listing.image%>" alt="">
          </div>
          <div class="listing-description">
            <p>Property description:<span><%= listing.description %></span></p>
          </div>
          <div class="listing-cost">
            <p><b>Cost per night:</b> <span>&#163;</span><%= listing.cost %></p>
          </div>
          <div class="listing-dates">
            Available from:
            <%= listing.date_from %>
            --- Available to:
            <%= listing.date_to %>
          </div>
          <a id='booking-link' href="/booking_requests/<%=listing.id%>/new">
            <span class='booking-link'></span></a>
        </div>
        <br>
      <% end %>
    </div>
    <% if current_user %>
      <form action="/listings/new" method="get">
        <input type="submit" value="New Listing">
      </form>
    <% end %>
  </body>
</html>
