<!DOCTYPE html>
<html>
  <body>
    <h2>Featured Properties:</h2>
    <div class="parent">
      <% @listings.each do |listing| %>
        <div class="listings">
          <div class="listing-name">
            <p>Property name:
              <%= listing.name %></p>
          </div>
          <div class="listing-description">
            <p>Property description:
              <%= listing.description %></p>
            <p>Cost per night:
              <%= listing.cost %></p>
            Available from:
            <%= listing.date_from %>
            --- Available to:
            <%= listing.date_to %>
          </div>
          <a id='booking-link' href="/booking_requests/<%=listing.id%>/new"><span class = 'booking-link'></span></a>
        </div>
        <br>
      <% end %>
    </div>
    <% unless @user %>
    <form action="/listings/new" method="get">
      <input type="submit" value="New Listing">
    </form>
    <% end %>
  </body>
</html>
