<!DOCTYPE html>
<html>
<body>
<h2>Booking Requests For Your Properties</h2>
  <% @my_listings.each do |listing| %>

  <p>
  Property name: <%= listing.name %>
  </p>
  <br>
    <ul>
      <% listing.bookingrequests.each do |request| %>
        <li><%= request.user.forename%> <%= request.user.surname%>
            ----- <%= request.requested_date%>
        </li class='requests'>
        <div class="approve">
        <form action="/bookings" method="post">
          <input type="hidden" name="requested_date" value="<%= request.requested_date %>">
          <input type="hidden" name="listing_id" value="<%= listing.id %>">
          <input type="hidden" name="user_id" value="<%= request.user.id %>">
          <input type="hidden" name="request_id" value="<%= request.id %>">
          <input class='tick' type="submit" name="Accept" value=&#10003;>
        </form>
        <form action="/bookings/<%= request.id %>" method="post">
          <input type='hidden' name='_method' value='delete'/>
          <input class = 'cross' type="submit" name="Reject" value=&#10005;>
        </form>
        </div>
      <% end %>
    </ul>
  <% end %>




</body>
</html>
